@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    font-family: "Manrope", sans-serif;
} */

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #FAFAFA;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00932F;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #FEC301;
}